# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea
*.vjs_c
*.vpcf_c
*.bin
*.vpk
*.vxml_c
*.vmdl_c
*.vmat_c
*.vtex_C
*.vcss_c
*.vsnd_c
*.cfg
*.vdata_c
custom_game_whitelist.txt
11